$primary-colour: #272727;
$secondary-colour: #26d1f4;
$filterPanelFontSizeTitle: 5cqw;
$filterPanelFontSizeTag: 4cqw;
$filterPanelFontSizeFlavour: 3cqw;

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.25s ease-in-out;
}

@function set-text-colour($colour) {
    @if (lightness($colour) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1080px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
@mixin media-2k {
    @media screen and (min-width: 2560px) {
        @content;
    }
}
@mixin media-4k {
    @media screen and (min-width: 3440px) {
        @content;
    }
}