@import "config", "responsive";

body{
    //@include linearGrad(155deg, $ColorPrimary 0%, $ColorSecondary 75%);
    background: #fff;
    color: set-text-colour($primary-colour);
    height: 100vh;
    font-family: 'Chakra Petch', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3{
    font-weight: 400;
}

a{
    color: set-text-colour($primary-colour);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-colour;
}

.bio {
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $primary-colour;
    color: set-text-colour($primary-colour);

    &__name {
        font-weight: 700;
    }

    &__tag{
        font-weight: 400;
        border-top: 0.1rem solid set-text-colour($primary-colour);
        padding: 0.5rem 0 0 0;
        margin: 0.5rem 0 0 0;
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75vw;
    column-gap: 1rem;
    row-gap: 0.5rem;
    color: set-text-colour($primary-colour);
    padding: 1rem 0 0 0;
}

.filter__btn {
    background-color: $primary-colour;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    text-wrap: nowrap;
    @include transition-ease;
    
    &.active {
        background-color: $secondary-colour;
        color: set-text-colour($secondary-colour);
    }
}

.filter__panels {
    width: 75vw;
    display: grid;
    grid-template-columns: 100%;
    justify-items: stretch;
    padding: 0 0 4rem 0;
}

.filter__panel {
    margin: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    
    a {
        position: relative;
        
        width: 100%;
        //height: fit-content;
    }
    
    &--link {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width:100%;

        &::after {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 40%;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, rgba($primary-colour,.8)55%, rgba($primary-colour,0)100%);
            opacity: 1;
            @include transition-ease;
        }

        * {
            width:100%;
        }

        &:hover {
            &::after{
                top: 0%;
                opacity: 1;
            }
        }
        &:hover + .filter__panel__info {
            bottom: 40%;
            @include transition-ease;

            .filter__panel__info--flavour {
                opacity: 1;
            }
        }
    }

    &__info {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        margin: 0 0 5% 0;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        color: set-text-colour($primary-colour);
        @include transition-ease;

        &--title {
            text-wrap:pretty;
            font-weight: 1000;
            flex-shrink: 1;
            //font-size: min(1.5rem, 4cqw);
            font-size: 4cqw;
        }

        &--tags{
            font-size: 3cqw;
        }

        &--flavour {
            font-size: 2cqw;
            position: absolute;
            width: 90%;
            top: 110%;
            opacity: 0;
            @include transition-ease;
        }
    }

    &.active {
        position: relative;
        visibility: visible;
    }

}

footer {
    position: fixed;
    font-size: 1rem;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-colour;
    color: set-text-colour($primary-colour);

    .social-icons {
        a{
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $secondary-colour;
            }
        }
    }

    .copyright {
        text-align: right;
    }
}