@import "config";

body{
    //@include linearGrad(155deg, $ColorPrimary 0%, $ColorSecondary 75%);
    background: #fff;
    color: set-text-colour($primary-colour);
    font-family: 'Chakra Petch', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    display: flex;

}

h1, h2, h3{
    font-weight: 400;
}

a{
    color: set-text-colour($primary-colour);
    text-decoration: none;
}

.bio{
    z-index: 2;
    top: 0;
    height: 7rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: flex-start;
    background: $primary-colour;

    &__mug {
        margin-right: 1rem;
        flex-shrink: 1;
        left: 0;
        position: relative;
        height: 100%;
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-self: center;
        color: set-text-colour($primary-colour);

        &__name {
            font-weight: 700;
            font-size: 3rem;
        }
        
        &__tag{
            font-weight: 400;
            font-size: 1rem;
            border-top: 0.1rem solid $secondary-colour;
            padding: 0.5rem 0 0 0;
            margin: 0.5rem 0 0 0;
        }
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bgVid {
    position: fixed;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}

.filter__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75vw;
    column-gap: 1rem;
    row-gap: 0.5rem;
    color: set-text-colour($primary-colour);
    padding: 1rem 0 0 0;
}

.filter__btn {
    background-color: $primary-colour;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    text-wrap: nowrap;
    @include transition-ease;
    
    &.active {
        background-color: $secondary-colour;
        color: set-text-colour($secondary-colour);
    }
}

.filter__panels {
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 2rem;
    justify-items: stretch;
    padding: 0 0 4rem 0;
}

.filter__panel {
    margin: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    @include transition-ease;
    
    a {
        position: relative;
        
        width: 100%;
        //height: fit-content;
    }
    
    &--link {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width:100%;
        //border-radius: 3%;

        &::after {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 30%;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, rgba($primary-colour,.9)65%, rgba($primary-colour,0)100%);
            opacity: 1;
            @include transition-ease;
        }

        * {
            object-fit: cover;
            width: calc(75vw - 2rem);
            height: calc(75vw - 2rem);
        }

        a {
            pointer-events: none;
        }

        &:hover {
            &::after{
                top: 0%;
                opacity: 1;
            }

            a{
                pointer-events: auto;
            }
        }
        &:hover + .filter__panel__info {
            bottom: 35%;
            @include transition-ease;

            .filter__panel__info--flavour {
                opacity: 1;
            }
        }
    }

    &__info {
        pointer-events: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0 0 5% 0;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        color: set-text-colour($primary-colour);
        @include transition-ease;

        &--title {
            text-wrap: pretty;
            font-weight: 1000;
            font-size: $filterPanelFontSizeTitle;
        }

        &--tags{
            margin-top: 0.2rem;
            border-top: 0.1rem solid $secondary-colour;
            padding-top: 0.2rem;
            font-size: $filterPanelFontSizeTag;
        }

        &--flavour {
            font-size: $filterPanelFontSizeFlavour;
            text-wrap: pretty;
            position: absolute;
            width: 90%;
            top: 110%;
            opacity: 0;
            @include transition-ease;
        }
    }

    &.active {
        position: relative;
        visibility: visible;
        opacity: 1;
    }

}

footer {
    position: fixed;
    font-size: 1rem;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-colour;
    color: set-text-colour($primary-colour);

    .social-icons {
        a{
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $secondary-colour;
            }
        }
    }

    .copyright {
        text-align: right;
    }
}

@import "responsive";