* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #fff;
  height: 100vh;
  font-family: "Chakra Petch", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #26d1f4;
}

.bio {
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #272727;
  color: #fff;
}
.bio__name {
  font-weight: 700;
}
.bio__tag {
  font-weight: 400;
  border-top: 0.1rem solid #fff;
  padding: 0.5rem 0 0 0;
  margin: 0.5rem 0 0 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75vw;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 0.5rem;
  color: #fff;
  padding: 1rem 0 0 0;
}

.filter__btn {
  background-color: #272727;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-wrap: nowrap;
  transition: all 0.25s ease-in-out;
}
.filter__btn.active {
  background-color: #26d1f4;
  color: #000;
}

.filter__panels {
  width: 75vw;
  display: grid;
  grid-template-columns: 100%;
  justify-items: stretch;
  padding: 0 0 4rem 0;
}

.filter__panel {
  margin: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}
.filter__panel a {
  position: relative;
  width: 100%;
}
.filter__panel--link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.filter__panel--link::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(39, 39, 39, 0.8) 55%, rgba(39, 39, 39, 0) 100%);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.filter__panel--link img {
  width: 100%;
}
.filter__panel--link:hover::after {
  top: 40%;
  opacity: 1;
}
.filter__panel--link:hover + .filter__panel__info {
  transition: all 0.25s ease-in-out;
  bottom: 0;
  top: auto;
  opacity: 1;
}
.filter__panel__info {
  pointer-events: none;
  position: absolute;
  top: 100%;
  bottom: auto;
  margin: 0 0 5% 0;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
.filter__panel__info--title {
  font-weight: 1000;
}
.filter__panel__info--tags {
  font-size: 0.8rem;
}
.filter__panel.active {
  position: relative;
  visibility: visible;
}

footer {
  position: fixed;
  font-size: 1rem;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272727;
  color: #fff;
}
footer .social-icons a {
  padding: 0.4rem;
  transition: all 0.25s ease-in-out;
}
footer .social-icons a:hover {
  color: #26d1f4;
}
footer .copyright {
  text-align: right;
}/*# sourceMappingURL=main.css.map */